language: c

os:
  - linux
  - osx

before_script:
  - sudo add-apt-repository --yes ppa:kalakris/cmake
  - sudo apt-get update -qq
  - sudo apt-get install cmake

script:
  - make

notifications:
  email:
    on_success: always
    on_failure: always
